h3 {
    color: #22bbea;
}
h4 {
    color: #f0aa59;
}
b {
    color: #dd7c0c;
}
.ITraiseIT .title {
    font-size: 40px;
    font-weight: bold;
    line-height: 48px;
    color: #000;
}

p {
    color: #000;
}
