$base-font: 14px;
$base-height: 40px;

.contact {
  &__input {
    font-size: $base-font;
    border-radius: 3px;
    height: $base-height;
  }

  &__select {
    font-size: $base-font;
    border-radius: 3px;
  }

  &__message {
    font-size: $base-font;
    border-radius: 3px;
  }
}
